---
// One line in the code-editor panel: gutter line number (CSS counter) + indent.
interface Props {
  indent?: boolean;
  class?: string;
}
const { indent = false, class: className = '' } = Astro.props;
---

<div
  class:list={[
    'relative block pl-14.5 whitespace-pre-wrap before:absolute before:left-0 before:w-10 before:text-right before:text-[0.75rem] before:text-[color-mix(in_srgb,var(--color-ink-faint)_60%,transparent)] before:content-[counter(ln)] before:[counter-increment:ln]',
    indent && '[&>span:first-child]:ml-5.5',
    className,
  ]}
>
  <slot />
</div>
